* {
  padding: 0;
  margin: 0;
}

.main {
  margin: 100px 0;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #2c2c2c;
  line-height: 1.42857143;
  font-weight: 300;
  margin-bottom: 15px;
}

.container {
  width: 1140px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto 20px;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.label_text {
  width: 290px;
  text-align: right;
  vertical-align: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

.a{
  text-decoration: none;
  color: #337ab7;
}

.a:hover{
  text-decoration: underline;
  color: #094375;
}

.button{
  background-color: #b71c1c; 
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1000px) and (max-width: 1200px){
  .container{
    width: 920px;
  }
}

@media (min-width: 700px) and (max-width: 1001px){
  .container{
    width: 620px;
  }
}

@media (min-width: 0px) and (max-width: 700px){
  .container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .label_text{
    display: none;
  }
}